{% extends "website/base.html" %}
{% load widget_tweaks %}

{% block title %}Home{% endblock %}

{% block head %}
{{ block.super }}
{% load custom_template_tags %}
{% load static %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %} <!-- head -->

{% block body %}
{{ block.super }}
<div id="balance-chart">
  <svg id="canvas">
    <g id="x-axis"></g>
    <g id="y-axis"></g>
    <g id="plot-area"></g>
  </svg>
</div>

<div id="tooltip" class="chart-tooltip" style="opacity: 0;"></div>

<div class="container">

  <div class="row date-navigator-button-container" style="padding-bottom: 5">

    <div class="col-sm">
      <form id="week-backward-form" action="/home" method="get" style="margin: 0">
	<input name="start" value="{{ start_minus_7|date:'Y-m-d' }}" hidden>
	<input name="end" value="{{ end_minus_7|date:'Y-m-d' }}" hidden>
	<button id="week-backward-button"
		type="submit"
		class="btn btn-primary date-navigator">
	  <i class="fa fa-angle-left" style="padding-right: 5px"></i> Back 7 Days
	</button>
      </form>
    </div>
    
    <div class="col-sm">
      <form id="center-on-today-form" style="margin: 0">
	<input name="start" value="{{ center_on_today_start|date:'Y-m-d' }}" hidden>
	<input name="end" value="{{ center_on_today_end|date:'Y-m-d' }}" hidden>
	<button id="center-on-today-button"
		type="submit"
		class="btn btn-primary date-navigator">
	  Today
	</button>
	
      </form>
    </div>
    
    <div class="col-sm">
      <form id="week-forward-form" action="/home" method="get" style="margin: 0">
	<button id="week-forward-button"
		type="submit"
		class="btn btn-primary date-navigator">
	  Forward 7 Days <i class="fa fa-angle-right" style="padding-left: 5px"></i>
	</button>

	
	
	<input name="start" value="{{ start_plus_7|date:'Y-m-d' }}" hidden>
	<input name="end" value="{{ end_plus_7|date:'Y-m-d' }}" hidden>
      </form>
    </div>
    
  </div>
  
  <form id="date-selector"
	class="form-inline justify-content-center"
	action="/home"
	method="get"
	style="margin-bottom: 0">
    <div class="form-group row">
      <label for="start-input" class="col-sm-2 col-form-label">Start</label>
      <div class="col-sm-10">
	<input id="start-input"
	       type="date"
	       name="start"
	       class="form-control"
	       value="{{start|date:'Y-m-d'}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="end-input" class="col-sm-2 col-form-label">End</label>
      <div class="col-sm-10">
	<input id="end-input"
	       type="date"
	       name="end"
	       class="form-control"
	       value="{{end|date:'Y-m-d'}}">
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
  <center style="margin-bottom: 5">
    <font size="2" style="opacity: 0.8">Select date range</font>
  </center>

  <form id="transaction-form" method="post" action="/create-transaction">
    {% csrf_token %}
    {% for hidden_field in new_transaction_form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}
  </form>

  <!-- The Modal -->
  <div class="modal fade" id="repeat-options-modal">
    <div class="modal-dialog">
      <div class="modal-content">
	
	<!-- Modal Header -->
	<div class="modal-header">
	  <h4 class="modal-title">Reapeat transaction ends</h4>
	  <button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>

	<!-- Modal body -->
	<div id="repeat-options-div" class="modal-body">
	  <div class="form-group">
	    <label>Repeats every</label>
	    <input id="steps-input"
		   class="form-control"
		   form="transaction-form"
		   name="steps"
		   type="number"
		   step="1"
		   value="1">
	  </div>
	  
	  <div class="form-group">
	    <select
	      id="frequency-input"
	      class="dropdown form-control"
	      form="transaction-form"
	      name="frequency"> todo
	      <option value="daily">Day</option>
	      <option value="weekly" selected>Week</option>
	      <option value="monthly">Month</option>
	      <option value="yearly">Year</option>
	    </select>
	  </div>

	  <div class="form-check">
	    <label class="form-check-label">
	      <input class="form-check-input"
		     type="radio"
		     name="ends_how"
		     id="never-ends"
		     value="never_ends"
		     form="transaction-form"
		     checked>
	      Never ends
	    </label>
	  </div>

	  <div class="form-check">
	    <label class="form-check-label">
	      <input class="form-check-input"
		     type="radio"
		     name="ends_how"
		     id="ends-after-n-transactions"
		     value="n_transactions"
		     form="transaction-form">
	      Ends after # transactions
	    </label>
	  </div>

	  <div class="form-check">
	    <label class="form-check-label">
	      <input class="form-check-input"
		     type="radio"
		     name="ends_how"
		     id="ends-on-date"
		     value="ends_on_date"
		     form="transaction-form">
	      Ends on
	    </label>
	  </div>

	  <div id="n-transactions-div" class="form-group" style="display: none; margin-top: 5px">
	    <input id="n-transactions-input"
	  	   class="form-control"
	  	   type="number"
	  	   step="1"
	  	   value="1"
	  	   name="n_transactions"
	  	   form="transaction-form">
	  </div>

	  <div id="ends-on-date-div" class="form-group" style="display: none; margin-top: 5px">
	      <input id="ends-on-date-input"
	  	     class="form-control"
	  	     type="date"
	  	     value="{{today|date:'Y-m-d'}}"
	  	     name="end_date"
	  	     form="transaction-form">
	  </div>
	</div>

	<!-- Modal footer -->
	<div class="modal-footer">
	  <button id="repeat-options-close-button"
		  type="button"
		  class="btn btn-secondary"
		  data-dismiss="modal">Cancel
	  </button>
	  <button id="repeat-options-submit-button"
		  type="submit"
		  class="btn btn-danger"
		  form="transaction-form">
	    Create transaction
	  </button>
	  
	</div>

      </div>
    </div>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a id="transactions-tab"
	 class="nav-link active"
	 data-toggle="tab"
	 href="#transactions">
	Transactions
      </a>
    </li>
    <li class="nav-item">
      <a id="repeat-transactions-tab"
	 class="nav-link"
	 data-toggle="tab"
	 href="#repeat-transactions">
	Repeat Transactions
      </a>
    </li>
  </ul>

  <div class="tab-content" style="min-height: 500px">

    <div id="transactions"
      	 class="container tab-pane active">
      <table id="transaction-list" class="table">
      	<thead>
      	  <tr class="table-header">
      	    <th id="date-header">Date</th>
      	    <th id="transaction-size-header">Transaction Size</th>
      	    <th id="description-header">Description</th>
      	    <th id="closing-balance-header" colspan="3">Balance</th>
      	  </tr>
      	</thead>
	
      	<tbody>

	  <tr>

	    {% for field in new_transaction_form.visible_fields %}
	    {% if field.name != "repeats" %}
	    <td>
	      <div class="form-group">
		{% render_field field class="form-control" form="transaction-form" %}
		{{ field.errors }}
		{% if field.help_text %}
		{% autoescape off  %}
		<small class="form-text text-muted">{{ field.help_text }}</small>
		{% endautoescape %}
		{% endif %}
	      </div>
	    </td>
	    {% endif %}
	    {% endfor %}

	    <td></td>
	    <td colspan="2" style="padding-bottom: 0">
	      <button id="submit-button"
		      type="submit"
		      class="btn btn-primary"
		      style="width: 100%"
		      form="transaction-form">
		Create Transaction
	      </button>
	      <div style="margin-top: 4px">
		{% with new_transaction_form.visible_fields|last as last %}
		{{ last.label_tag }} {% render_field last form="transaction-form" %}
		{% endwith %}
	      </div>
	    </td>
	    
	  </tr>
      	</tbody>
      </table>
    </div>

    <div id="repeat-transactions"
      	 class="tab-pane container fade">
      <table class="table">
      	<thead>
      	  <tr class="table-header">
      	    <th id="date-header">Start Date</th>
      	    <th id="transaction-size-header">Transaction Size</th>
      	    <th id="description-header">Description</th>
	    <th id="repeats-header">Repeats</th>
	    <th id="ends-header">Ends</th>
      	  </tr>
      	</thead>

	<tbody>
	  {% for rt in repeat_transactions %}
	  <form id="repeat-transaction-update-form-{{ rt.id }}"
		class="repeat-transaction-update-form"
		action="update-repeat-transaction"
		method="post">{% csrf_token %}
	    <input name="id" value="{{ rt.id }}" hidden>
	    <tr id="{{rt.id}}" class="repeat-transaction">

	      <td>
		<input class="form-control"
		       name="start_date"
		       type="date"
		       value="{{ rt.start_date|date:'Y-m-d' }}"
		       form="repeat-transaction-update-form-{{ rt.id }}">
	      </td>
	      {% load humanize %}
	      <td>
		<input name="size"
		       class="form-control"
		       value="£{{ rt.size|floatformat:2|intcomma }}"
		       form="repeat-transaction-update-form-{{ rt.id }}">
	      </td>
	      <td>
		<input class="form-control"
		       name="description"
		       value="{{ rt.description }}"
		       form="repeat-transaction-update-form-{{ rt.id }}">
	      </td>
	      <td>
		<input class="form-control"
		       name="frequency"
		       value="{{ rt.frequency }}"
		       form="repeat-transaction-update-form-{{ rt.id }}">
	      </td>
	      <td>
		<input class="form-control"
		       name="end_date"
		       type="date"
		       value="{% if rt.end_date is None %}never{% else %}{{rt.end_date|date:'Y-m-d'}}{% endif %}">
	      </td>
	      <td>
		<button
		  id="repeat-transaction-save-button-{{ rt.id }}"
		  class="btn btn-primary">
		  Save
		</button>
	      </td>
	    </tr>
	  </form>
	  {% endfor %}
	</tbody>
	
      </table>
    </div>

  </div>
  
</div> <!-- main container -->

<script>
  transactions = {{ transactions | safe }};
</script>

<script>
  balances = [
  {% for b in balances %}
  {
  date: "{{b.date}}",
  balance: {{b.balance}},
  },
  {% endfor %}
  ]
</script>

<script>
  csrf_token = '{{ csrf_token }}'
</script>

<script src="{% static "website/home.js" %}" type="text/javascript"></script>

{% endblock %}
