<html>
  <head>
    <title>Reset Password</title>
    {% load custom_template_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/styles.css' %}">
    <link rel="icon" 
	  type="image/x-icon"
	  href="{% static 'website/favicon.ico' %}" />
  </head>
  <body>
    <div class="container" style="margin-top: 50px">

      <form method="post" class="form" id="password-reset-request-form">{% csrf_token %}
	<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

	<div class="form-group">
	  <label for="email-input">Email address</label>
	  <input type="email"
		 name="email"
		 class="form-control"
		 id="email-input"
		 aria-describedby="emailHelp"
		 placeholder="Enter email"
		 required >
	</div>

	<input id="submit-button" class="btn btn-primary btn--width-100" type="submit">

      </form>
    </div> <!-- main container -->
  </body>
</html>
