{% extends "website/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block body %}
{{ block.super }}
<div class="container" style="margin-top: 50px">

  <form method="post" class="form" id="password-reset-request-form">{% csrf_token %}
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

    <div class="form-group">
      <label for="email-input">Email address</label>
      <input type="email"
	     name="email"
	     class="form-control"
	     id="email-input"
	     aria-describedby="emailHelp"
	     placeholder="Enter email"
	     required >
    </div>

    <input id="submit-button" class="btn btn-primary btn--width-100" type="submit">

  </form>
</div> <!-- main container -->

{% endblock %}
