<html>
  <head>
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/styles.css' %}">
    <link rel="icon" 
	  type="image/x-icon"
	  href="{% static 'website/favicon.ico' %}" />
    <link rel="stylesheet"
	  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
    <div class="container" style="margin-top: 50px">
      <div class="row">
	<div class="col">
	  <h2>Please verify your email address</h2>
	  <p>We've sent you an email, click the verfication link to get started!</p>
	</div>
      </div>
    </div>
  </body>
</html>
