<html>
<head>
<title>Welcome</title>
</head>
<body>
<form id="registration-form" action="/register" method="post">{% csrf_token %}
<input id="email-input" name="email">
<input id="password-input" name="password">
<input id="password-check-input" name="password_check">
<input id="submit-button" type="submit">
</form>

<form id="login-form" action="/login" method="post">{% csrf_token %}
<input id="email-input" name="email">
<input id="password-input" name="password">
<input id="submit-button" type="submit">
</form>

</body>
</html>
